body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#repos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.repo {
    background-color: #1f1f1f;
    border-radius: 5px;
    padding: 15px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.repo h2 {
    margin-top: 0;
}

footer {
    background-color: #1f1f1f;
    padding: 10px;
    text-align: center;
}